*{
    padding: 0%;
    margin: 0%;
}

:root{
    --bgPrimario:  rgb(91, 128, 163);
}

header, footer{
    width: 100%;
    padding: 8px;
    background-color: var(--bgPrimario);
    color: white;
    display: flex;
    justify-content: space-between;
}

.capa{
    height: 20px;
}